body{
	background: #efefef;
	padding:0;
	margin:0;
	overflow-x: hidden;
}
img{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	min-height: 100%;
	display: none;
}

.a-nav{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 3em;
	background: #fff;
	z-index: 1;
}
.a-slider{
	position: relative;
	left:0px;
	float: left;
}

/*editor*/
.a-editor{
	position: relative;
	margin-left:22%;
	margin-top:4em;
	width:76%;
	background: #fff;
	padding: 10px;
}

.ql-container{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 20em;
}
.ql-toolbar{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height:3em;
}
#a-editor-button{
	margin-top: 1em;
}
.a-editor-title{
	position: relative;
	width:100%;
	/*background: #000;*/
	height: 3em;
}
.a-editor-title-part{
	position: relative;
	float: left;
}



/*manager*/

.a-manager{
	position: relative;
	margin-left:22%;
	margin-top:4em;
	width:76%;
	background: #fff;
	padding: 10px;
}

.ant-avatar > img{
	position: relative;
}